<footer>
    <div class="container-fluid">
        <div class='row-fluid'>
            <script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
            <div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="none" data-yashareQuickServices="yaru,vkontakte,facebook,twitter,odnoklassniki,moimir,lj,gplus"></div>

        </div>
        <div class="row-fluid">
            <div class="span12 well">

                <a href="http://istrahistory.reformal.ru" onclick="Reformal.widgetOpen();return false;" onmouseover="Reformal.widgetPreload();">Oтзывы и предложения</a>
                <script type="text/javascript">
                    var reformalOptions = {
                        project_id: 88588,
                        show_tab: false,
                        project_host: "istrahistory.reformal.ru"
                    };

                    (function() {
                        var script = document.createElement('script');
                        script.type = 'text/javascript'; script.async = true;
                        script.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'media.reformal.ru/widgets/v3/reformal.js';
                        document.getElementsByTagName('head')[0].appendChild(script);
                    })();
                </script>
                <noscript>
                    <a href="http://reformal.ru"><img src="http://media.reformal.ru/reformal.png" /></a><a href="http://istrahistory.reformal.ru">Oтзывы и предложения для Истра</a>
                </noscript>


                || <a href="http://kulikovpavel.ru">Создание сайта</a> ||
                <a href="mailto:kulikovpavel@gmail.com?subject=По сайту фотогалереи" target="_blank">Связаться</a>

            </div>
        </div>

    </div>
</footer>