<script>
    $(function() {
        // Handler for .ready() called.
        $('#button-register').on('click', function () {
            $('#modal-register').modal('toggle');
        });
    })
</script>


<div id ='modal-login' class ='modal hide fade'>
    <form action = '{{login_url}}' method="POST">
        <div class="modal-header">
            <!-- <a type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button> -->
            <h3>Войти на сайт</h3>
        </div>
        <div class="modal-body">
            <input type="email" name="email" placeholder='example@mail.ru' required="required" autofocus>
            <br>
            <input type='password' name='password' placeholder='Ваш пароль' required="required">
        </div>
        <div class="modal-footer">
            <button type='submit' class="btn btn-primary">Войти</button>
            <button class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
            <a id='button-register' class='btn' data-dismiss='modal'>Регистрация</a>
        </div>
        {%  include 'ulogin-social.html' %}
    </form>
</div>
<div id='modal-register' class ='modal hide fade'>
    <form action = '{{register_url}}' method="POST">
        <div class="modal-header">
            <!-- <a type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button> -->
            <h3 >Зарегистрироваться на сайте</h3>
        </div>
        <div class="modal-body">
            <input type='text' name='username' placeholder='Иван Иванов' required="required" autofocus>
            <br>
            <input type="email" name="email" placeholder='example@mail.ru' required="required">
            <br>
            <input type='password' name='password' placeholder='Ваш пароль' required="required">
        </div>
        <div class="modal-footer">
            <button type='submit' class="btn btn-primary">Зарегистрироваться</button>
            <button class="btn" data-dismiss="modal">Закрыть</button>

        </div>

    </form>
</div>