<div class="navbar navbar-fixed-top">
    <div class="navbar-inner nav-right pull-right">
        <div class="container-fluid">

            <a class="brand" href="/">Главная</a>
            <ul class="nav">
                <li><a href="load">Загрузить фотографию</a></li>
                {% if not user %}
                <li><a href="#modal-login" data-toggle="modal">Войти</a><li>
                {% else %}
                <li>{{greeting}}</li>
                {% endif %}
            </ul>


        </div>
    </div>
</div>