{% extends "index.html" %}
{% block body %}
    <div class="container">
        {%for picture in pictures%}
            <div>
                <a href="/picture/{{picture.key().id()}}" title="{{picture.title}}" ><img src="{{picture.thumb}}"></a>
                <br><br>
                <form action='/picture/{{ picture.key().id() }}?action=delete' method="post" > <input class='btn' type="submit" value='Удалить'></form>
                <a href='/picture/edit/{{ picture.key().id() }}' method="get" > <input class='btn' type="submit" value='Изменить'></form>
            </div>


        {% endfor %}
    </div>
{% endblock %}