{% extends "index.html" %}
{% block body %}
    <div class="container">
        {%for picture in pictures%}
            <div>
                <a href="/picture/{{picture.key().id()}}" title="{{picture.title}}" ><img src="{{picture.thumb}}"></a>
                <a href='/picture/edit/{{ picture.key().id() }}' method="get" > <input class='btn btn-info' type="submit" value='Изменить'></a>

                <form action='/picture/{{ picture.key().id() }}?action=delete' method="post" onsubmit="return confirm('Вы действительно зотите удалить фотографию?');">
                    <input class='btn-mini btn-danger' type="submit" value='Удалить'>
                </form>


            </div>
            <br>


        {% endfor %}
    </div>
{% endblock %}